<call-to-action-cards>
    {% if data.heading|length %}
        <h1>{{ data.heading }}</h1>
    {% endif %}
    {% if data.copy|length %}
        <div class="block max-w-full mx-auto" style="width:640px;">
            {{ data.copy }}
        </div>
    {% endif %}
    <card-container>
        {% for card in data.cards.all() %}
            {% set image = card.image[0] ?? null %}
            <a href="{{ card.customLink.url }}" class="cta-card {{ image ? 'has-image' }}">
                {% if image %}
                    {% set transformedImage = craft.jitter.transformImage(image, { w: 320, ar: "16:9" }) %}
                    <img-shim>
                        <img 
                            draggable="false"
                            src="{{ transformedImage }}" 
                            alt="{{ image.description }}" 
                            loading="lazy" 
                            width="320" 
                            style="opacity:0;transition: opacity 300ms ease-out;"
                            onload="this.onload=null;this.style.opacity='1';" 
                        />
                    </img-shim>
                {% endif %}
                <card-copy>
                    <h2>{{ card.heading }}</h2>
                    <p>{{ card.briefCopy }}</p>
                </card-copy>
            </a>
        {% endfor %}
    </card-container>
</call-to-action-cards>
