<standard-hero css="standard-hero buttons" class="{{ data.backgroundColor }} {{ data.backgroundImage|length ? 'has-image' }}">
    {% if data.backgroundImage|length %}
        {% set transformedImage = craft.jitter.transformImage(image, { w: 320, h: 600 }) %}
        {% set images = craft.jitter.srcset(data.backgroundImage[0], [
            { w: 320, h: 600 },
            { w: 411, h: 600 },
            { w: 768, ar: "16:9" },
            { w: 1024, ar: "16:9" },
            { w: 1280, ar: "16:9" },
            { w: 1600, ar: "16:9" },
            { w: 1920, ar: "16:9" }
        ]) %}
        <img-shim>
            <img alt="{{ data.backgroundImage[0].description }}" src="{{ transformedImage }}" srcset="{{ images }}" width="320" loading="lazy" style="opacity:0;transition:opacity 300ms ease-in-out;" onload="this.style.opacity = '1';">
        </img-shim>
    {% endif %}
    <div class="inline-block w-full max-w-laptop">
        {% if data.heading|length %}
            <h1>{{ data.heading }}</h1>
        {% endif %}
        {% if data.copy|length %}
            <div class="w-full max-w-tablet block mx-auto">
                {{ data.copy }}
            </div>
        {% endif %}
        {% if data.callToAction.url|length or data.secondaryAction.url|length %}
            <div class="block w-full text-center mt-1.5">
                {% if data.callToAction.url|length %}
                    <a href="{{ data.callToAction.url }}" class="button -solid -primary {{ data.backgroundColor == 'color' and not data.backgroundImage|length ? '-light' }} {{ data.backgroundImage|length ? '-raised' }} -tall -wide m-0.5 font-md">{{ data.callToAction.customText }}</a>
                {% endif %}
                {% if data.secondaryAction.url|length %}
                    {% set secondaryButtonClasses = '' %}
                    {% if data.backgroundImage|length  %}
                        {% set secondaryButtonClasses = '-solid -white -raised' %}
                    {% elseif data.backgroundColor == 'dark' %}
                        {% set secondaryButtonClasses = '-outline -white' %}
                    {% else %}
                        {% set secondaryButtonClasses = '-outline -black' %}
                    {% endif %}
                    <a href="{{ data.secondaryAction.url }}" class="button {{ secondaryButtonClasses }} -tall -wide m-0.5 font-md">{{ data.secondaryAction.customText }}</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</standard-hero>