{% set transformedImage = craft.jitter.transformImage(data.thumbnailImage[0], { w: 100, ar: "16:9", q: 5 }) %}

{% set image = craft.jitter.srcset(data.thumbnailImage[0], [
    { w: 100, ar: "16:9", q: 5 },
    { w: 320, ar: "16:9" },
    { w: 425, ar: "16:9" },
    { w: 768, ar: "16:9" },
    { w: 1024, ar: "16:9" }
]) %}

<lazy-video css="video-block loading-spinner" web-component data-video-id="{{ data.videoId }}" data-platform="{{ data.source }}">
    {% if data.heading|length %}
        <h1>{{ data.heading }}</h1>
    {% endif %}
    {% if data.copy|length %}
        <div class="block max-w-full mx-auto" style="width:640px;">
            {{ data.copy }}
        </div>
    {% endif %}
    <video-shim class="js-container">
        <img 
            src="{{ transformedImage }}" 
            srcset="{{ image }}" 
            alt="{{ data.thumbnailImage[0].description }}" 
            loading="lazy" 
            width="100"
            style="opacity:0;transition: opacity 300ms ease-out;"
            onload="this.onload=null;this.style.opacity='1';" 
        />
        <button aria-label="play video" class="js-button">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="play" class="svg-inline--fa fa-play fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"></path></svg>
        </button>
        <loading-spinner class="-floating"></loading-spinner>
    </video-shim>
</lazy-video>
