{% set image = data.image[0] ?? null %}
<pull-quote-block lazy-css="pull-quote-block">
    <pull-quote>
        {% if image %}
            {% set transformedImage = craft.jitter.transformImage(image, { w: 250, ar: "1:1" }) %}
            <img-shim>
                <img 
                    src="{{ transformedImage }}" 
                    alt="{{ image.description }}" 
                    loading="lazy" 
                    width="250" 
                    style="opacity:0;transition: opacity 300ms ease-out;"
                    onload="this.onload=null;this.style.opacity='1';" 
                />
            </img-shim>
        {% endif %}
        <content-wrapper>
            <blockquote>
                {{ data.quote }}
            </blockquote>
            {% if data.author|length %}
                <cite>{{ data.author }}</cite>
            {% endif %}
            {% if data.callToActionLink.url|length %}
                <a class="cta-link" href="{{ data.callToActionLink.url }}">
                    <span>{{ data.callToActionLink.customText }}</span>
                    <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M295.515 115.716l-19.626 19.626c-4.753 4.753-4.675 12.484.173 17.14L356.78 230H12c-6.627 0-12 5.373-12 12v28c0 6.627 5.373 12 12 12h344.78l-80.717 77.518c-4.849 4.656-4.927 12.387-.173 17.14l19.626 19.626c4.686 4.686 12.284 4.686 16.971 0l131.799-131.799c4.686-4.686 4.686-12.284 0-16.971L312.485 115.716c-4.686-4.686-12.284-4.686-16.97 0z"></path></svg>
                </a>
            {% endif %}
        </content-wrapper>
    </pull-quote>
</pull-quote-block>