<rich-text lazy-css="rich-text buttons">
    {% if data.copy|length %}
        {{ data.copy }}
    {% endif %}
    {% if data.callToActionButton.url|length %}
        <div class="block w-full text-left mt-1.25">
            <a href="{{ data.callToActionButton.url }}" target="{{ data.callToActionButton.target }}" class="button {{ data.buttonStyle }} -primary">{{ data.callToActionButton.customText }}</a>
        </div>
    {% endif %}
</rich-text>