<bold-hero css="bold-hero buttons">
    <copy-wrapper>
        {% if data.heading|length %}
            <h1>{{ data.heading }}</h1>
        {% endif %}
        {% if data.copy|length %}
            {{ data.copy }}
        {% endif %}
        {% if data.callToAction.url|length %}
            <a href="{{ data.callToAction.url }}" class="button -solid -primary -tall -wide mr-1 mt-1 font-md">{{ data.callToAction.customText }}</a>
        {% endif %}
        {% if data.secondaryAction.url|length %}
            <a href="{{ data.secondaryAction.url }}" class="button -tall -wide -solid -primary -light mt-1 font-md">{{ data.secondaryAction.customText }}</a>
        {% endif %}
    </copy-wrapper>
    {% set transformedImage = craft.jitter.transformImage(image, { w: 360, h: 600 }) %}
    {% set images = craft.jitter.srcset(data.image[0], [
        { w: 320, h: 600 },
        { w: 384, h: 600 },
        { w: 640, h: 600 },
        { w: 960, h: 600 },
    ]) %}
    <img-shim>
        <img alt="{{ data.image[0].description }}" src="{{ transformedImage }}" srcset="{{ images }}" width="320" loading="lazy" style="opacity:0;transition:opacity 300ms ease-in-out;" onload="this.style.opacity = '1';">
    </img-shim>
</bold-hero>