<bold-hero eager-load-css="bold-hero buttons">
    <copy-wrapper>
        {% if section.heading|length %}
            <h1>{{ section.heading }}</h1>
        {% endif %}
        {% if section.copy|length %}
            {{ section.copy }}
        {% endif %}
        {% if section.callToAction.url|length %}
            <a href="{{ section.callToAction.url }}" class="button -solid -primary -tall -wide mr-1 mt-1 font-md">{{ section.callToAction.customText }}</a>
        {% endif %}
        {% if section.secondaryAction.url|length %}
            <a href="{{ section.secondaryAction.url }}" class="button -tall -wide -solid -primary -light mt-1 font-md">{{ section.secondaryAction.customText }}</a>
        {% endif %}
    </copy-wrapper>
    {% set images = craft.imager.transformImage(section.image[0], [
        { width: 320, height: 600, position: section.image[0].getFocalPoint(), format: imageFormat },
        { width: 384, height: 600, position: section.image[0].getFocalPoint(), format: imageFormat },
        { width: 640, height: 600, position: section.image[0].getFocalPoint(), format: imageFormat },
        { width: 960, height: 600, position: section.image[0].getFocalPoint(), format: imageFormat },
    ]) %}
    <img-shim>
        <img alt="{{ section.image[0].alternateDescription }}" src="{{ images[0].url }}" srcset="{{ craft.imager.srcset(images) }}" width="320" loading="lazy" style="opacity:0;transition:opacity 300ms ease-in-out;" onload="this.style.opacity = '1';">
    </img-shim>
</bold-hero>