{% set page = {
    'id': null,
    'revisionId': null,
    'uid': null,
} %}
{% if entry is defined %}
    {% set page = entry %}
{% elseif category is defined %}
    {% set page = category %}
{% elseif product is defined %}
    {% set page = product %}
{% endif %}

{% set requireLogin = craft.papertrain.checkRequireLogin(page) %}
{% if requireLogin and not currentUser %}
    {% redirect '/login?redirect=' ~ craft.app.request.pathInfo %}
{% elseif not requireLogin %}
    {% set expiry = now|date_modify('+7 days') %}
    {% header "Cache-Control: max-age=" ~ (expiry.timestamp - now.timestamp) %}
    {% header "Pragma: cache" %}
    {% header "Expires: " ~ expiry|date('D, d M Y H:i:s', 'GMT') ~ " GMT" %}
    {% header "Access-Control-Expose-Headers: etag" %}
    {% if page.uid %}
        {% header "ETag: " ~ page.uid ~ '-' ~ craft.papertrain.getRevisionNumber(page.id) %}
    {% endif %}
{% endif %}

{% if nocache is not defined %}
	{% set nocache = craft.app.request.getParam("nocache") ?? false %}
{% endif %}

{% set cache = craft.papertrain.getCachedPage(page) %}
{% if cache|length and not nocache|length %}
	{{ cache|raw }}
{% else %}
	{% spaceless %}
	<!DOCTYPE html>
	<html 
		lang="{{ currentSite.language }}" 
		data-csrf="{{ craft.app.request.csrfToken }}" 
		data-environment="{{ craft.app.config.env }}" 
	>
		<head>
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
			<meta name="referrer" content="origin-when-cross-origin" />

			<script>navigator.serviceWorker.register("{{ alias('@rootUrl')|trim('/') }}/service-worker.js");</script>
			
			<!-- SEO -->
			{% include "_base/seo" %}

			<!-- Lightkeeper performance audit scripts -->
			{% if craft.app.config.env == "production" %}
				{% hook 'lightkeeper' %}
			{% endif %}

			<!-- noscript CSS -->
			<noscript>
				<style>	
					#noscript-message {
						position: fixed;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
						padding: 1rem 1rem 1rem;
						background-color: var(--background);
						box-shadow: 0 -2px 16px rgba(51,51,51,0.1), -6px 32px rgba(51,51,51,0.1);
						border-radius: 0.25rem 0.25rem 0 0;
						text-align: center;
						z-index: 2000;
					}
				</style>
				<link rel="stylesheet" href="{{ alias('@rootUrl')|trim('/') }}/css/noscript.css">
			</noscript>

			<!-- Core CSS -->
			{{ craft.papertrain.css(['normalize', 'brixi']) }}

			<!-- Template specific resources -->
			{% block documentHead %}{% endblock %}

			<!-- Core JS -->
			<script type="module" src="{{ alias('@rootUrl')|trim('/') }}/js/bootstrap.js"></script>
			<script type="text/javascript" nomodule src="{{ alias('@rootUrl')|trim('/') }}/static/scripts/ie-warning.js"></script>

		</head>
		<body>

			<!-- Infinite progress bar loading animation -->
			<soft-loading>
				<transition-bar-one></transition-bar-one>
				<transition-bar-two></transition-bar-two>
			</soft-loading>

			<!-- Content -->
			{% block page %}{% endblock %}

			<noscript>
				<p id="noscript-message">{{ "Parts of this website require JavaScript. Please re-enable JavaScript and reload the page. We apologize for the inconvenience."|t }}</p>
			</noscript>
		</body>
	</html>
	{% endspaceless %}
{% endif %}
