{% set isDebug = craft.app.request.getParam('debug') %}
{% set page = {
    'id': null,
    'revisionId': null,
    'uid': null,
} %}
{% if entry is defined %}
    {% set page = entry %}
{% elseif category is defined %}
    {% set page = category %}
{% elseif product is defined %}
    {% set page = product %}
{% endif %}

{% set requireLogin = craft.papertrain.checkRequireLogin(page) %}
{% if requireLogin and not currentUser%}
    {% redirect '/login?redirect=' ~ craft.app.request.pathInfo %}
{% elseif not requireLogin %}
    {% set expiry = now|date_modify('+7 days') %}
    {% header "Cache-Control: max-age=" ~ (expiry.timestamp - now.timestamp) %}
    {% header "Pragma: cache" %}
    {% header "Expires: " ~ expiry|date('D, d M Y H:i:s', 'GMT') ~ " GMT" %}
    {% header "Access-Control-Expose-Headers: etag" %}
    {% if page.uid %}
        {% header "ETag: " ~ page.uid ~ '-' ~ craft.papertrain.getCache(page.id) %}
    {% endif %}
{% endif %}

{% if craft.app.config.env == 'dev' or craft.app.config.env == 'staging' %}
    {% if currentUser and currentUser['admin'] %}
        {% header "Feature-Policy:  oversized-images 'self'(2.0) *(inf); unoptimized-lossy-images 'self'(0.5) *(inf); unoptimized-lossless-images 'self'(1) *(inf); unoptimized-lossless-images-strict 'self'(1) *(inf);" %}
    {% endif %}
{% endif %}

{% if craft.imager.serverSupportsWebp() and craft.imager.clientSupportsWebp() %}
    {% set solidFormat = 'webp' %}
    {% set transparentFormat = 'webp' %}
{% else %}
    {% set solidFormat = 'jpg' %}
    {% set transparentFormat = 'png' %}
{% endif %}

{% spaceless %}
<!DOCTYPE html>
<html 
    lang="{{ currentSite.language }}" 
    state="hard-loading" 
    {% if isDebug and currentUser and currentUser['admin'] or craft.app.config.env == 'dev' or craft.app.config.env == 'staging'  %}
        debug="true"
    {% endif %} 
    data-csrf="{{ craft.app.request.csrfToken }}" 
    data-environment="{{ craft.app.config.env }}" 
    data-ga-id=""
>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <meta name="referrer" content="origin-when-cross-origin" />
        
        <!-- SEO -->
        {% include "_base/seo" %}

		<!-- noscript CSS -->
        <noscript>
			<style>	
                #noscript-message
                {
                    position: fixed;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 1rem 1rem 1rem;
                    background-color: var(--background);
                    box-shadow: 0 -2px 16px rgba(51,51,51,0.1), -6px 32px rgba(51,51,51,0.1);
                    border-radius: 0.25rem 0.25rem 0 0;
                    text-align: center;
                    z-index: 2000;
                }
            </style>
            <link rel="stylesheet" href="{{ alias('@rootUrl')|trim('/') }}/assets/noscript.css">
        </noscript>

        {{ craft.papertrain.css(['normalize', 'brixi', 'base']) }}
        {% block documentHead %}{% endblock %}

        {% hook 'lightkeeper' %}

        <script type="module" src="{{ alias('@rootUrl')|trim('/') }}/assets/bootstrap.mjs"></script>
        <script type="text/javascript" nomodule src="{{ alias('@rootUrl')|trim('/') }}/static/scripts/ie-warning.js"></script>

    </head>
    <body>

        {# Infinite progress bar loading animation #}
        <soft-loading>
            <transition-bar-one></transition-bar-one>
            <transition-bar-two></transition-bar-two>
        </soft-loading>

        {% block page %}{% endblock %}
        
        {% include "_page-components/connection-checker" %}

        <noscript>
            <p id="noscript-message">{{ "Parts of this website require JavaScript. Please re-enable JavaScript and reload the page. We apologize for the inconvenience."|t }}</p>
        </noscript>
    </body>
</html>
{% endspaceless %}
