{# General #}
{% set seoTitle = page['seoTitle'] is defined and page['seoTitle']|length ? page.seoTitle : page.title %}
<title>{{ seoTitle }}</title>
{% if page['description'] is defined %}
	<meta name="description" content="{{ page.description }}" />
{% endif %}
<link rel="home" href="{{ siteUrl }}" />
{% if page['canonicalUrl'] is defined and page['canonicalUrl']|length %}
	<link rel="canonical" href="{{ page.canonicalUrl }}">
{% endif %}

{# Languages #}
{% set locale = craft.app.locale %}
{% set locales = craft.app.i18n.siteLocaleIds|without(locale) %}
<meta property="og:locale" content="{{ locale|replace('-', '_') }}" />
{% for locale in locales -%}
	<meta property="og:locale:alternate" content="{{ locale|replace('-', '_') }}" />
{% endfor %}

{# Facebook #}
<meta property="og:url" content="{{ craft.app.request.absoluteUrl }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ seoTitle }}" />
{% if page['facebookImage'] is defined and page['facebookImage']|length %}
	<meta property="og:image" content="{{ page.facebookImage[0].url }}" />
{% endif %}
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{% if page['description'] is defined %}
	<meta property="og:description" content="{{ page.description }}" />
{% endif %}
<meta property="og:site_name" content="{{ siteName }}" />

{# Twitter #}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="{{ craft.app.request.absoluteUrl }}" />
{% if page['description'] is defined %}
	<meta name="twitter:description" content="{{ page.description }}" />
{% endif %}
<meta name="twitter:title" content="{{ seoTitle }}" />
{% if page['twitterImage'] is defined and page['twitterImage']|length %}
	<meta name="twitter:image" content="{{ page.twitterImage[0].url }}" />
{% endif %}

{# Robots #}
{% if page['noArchive'] is defined and page['noArchive']|length %}
	<meta name="robots" content="noarchive">
{% endif %}
{% if page['noIndex'] is defined and page['noIndex']|length %}
	<meta name="robots" content="noindex">
{% endif %}
{% if page['noFollow'] is defined and page['noFollow']|length %}
	<meta name="robots" content="nofollow">
{% endif %}
{% if page['noSnippet'] is defined and page['noSnippet']|length %}
	<meta name="robots" content="nosnippet">
{% endif %}