{% set image = data.backgroundImage[0] ?? null %}
{% set backgroundColor = data.backgroundColor %}
{% if image %}
    {% set backgroundColor = 'image' %}
{% endif %}
<call-to-action-banner>
    {% if image %}
        {% set transformedImage = craft.jitter.transformImage(image, { w: 320, ar: "21:4" }) %}
        {% set transformedImages = craft.jitter.srcset(image, [
            { w: 320, ar: "21/4" },
            { w: 425, ar: "21/4" },
            { w: 768, ar: "21/4" },
            { w: 1024, ar: "21/4" },
            { w: 1280, ar: "21/4" },
            { w: 1600, ar: "21/4" },
            { w: 1920, ar: "21/4" },
        ]) %}
        <img-shim>
            <img 
                src="{{ transformedImage }}" 
                srcset="{{ transformedImages }}" 
                alt="{{ image.description }}" 
                loading="lazy" 
                width="320"
                style="opacity:0;transition: opacity 300ms ease-out;"
                onload="this.onload=null;this.style.opacity='1';" 
            />
        </img-shim>
    {% endif %}
    <content-wrapper>
        {% if data.heading|length or data.copy|length %}
            <copy-wrapper>
                {% if data.heading|length %}
                    <h1>{{ data.heading }}</h1>
                {% endif %}
                {% if data.copy|length %}
                    {{ data.copy }}
                {% endif %}
            </copy-wrapper>
        {% endif %}
        {% if data.callToActionButton.url|length or data.secondaryCallToActionButton.url|length %}
            <div>
                {% if data.callToActionButton.url|length %}
                    <a href="{{ data.callToActionButton.url }}" target="{{ data.callToActionButton.target }}" class="button -solid -primary -raised m-0.5">{{ data.callToActionButton.customText }}</a>
                {% endif %}
                {% if data.secondaryCallToActionButton.url|length %}
                    <a href="{{ data.secondaryCallToActionButton.url }}" target="{{ data.secondaryCallToActionButton.target }}" class="button -solid -white -raised m-0.5">{{ data.secondaryCallToActionButton.customText }}</a>
                {% endif %}
            </div>
        {% endif %}
    </content-wrapper>
</call-to-action-banner>
