{% set image = data.backgroundImage[0] ?? null %}
{% set backgroundColor = data.backgroundColor %}
{% if image %}
    {% set backgroundColor = 'image' %}
{% endif %}
<call-to-action-banner lazy-css="call-to-action-banner buttons" background="{{ backgroundColor }}">
    {% if image %}
        {% set transformedImages = craft.imager.transformImage(image, [
            { width: 320, ratio: 21/4, position: image.getFocalPoint(), format: imageFormat },
            { width: 425, ratio: 21/4, position: image.getFocalPoint(), format: imageFormat },
            { width: 768, ratio: 21/4, position: image.getFocalPoint(), format: imageFormat },
            { width: 1024, ratio: 21/4, position: image.getFocalPoint(), format: imageFormat },
            { width: 1280, ratio: 21/4, position: image.getFocalPoint(), format: imageFormat },
            { width: 1600, ratio: 21/4, position: image.getFocalPoint(), format: imageFormat },
            { width: 1920, ratio: 21/4, position: image.getFocalPoint(), format: imageFormat },
        ]) %}
        <img-shim>
            <img 
                src="{{ transformedImages[0].url }}" 
                srcset="{{ craft.imager.srcset(transformedImages) }}" 
                alt="{{ image.description }}" 
                loading="lazy" 
                width="320"
                style="opacity:0;transition: opacity 300ms ease-out;"
                onload="this.onload=null;this.style.opacity='1';" 
            />
        </img-shim>
    {% endif %}
    <content-wrapper>
        {% if data.heading|length or data.copy|length %}
            <copy-wrapper>
                {% if data.heading|length %}
                    <h1>{{ data.heading }}</h1>
                {% endif %}
                {% if data.copy|length %}
                    {{ data.copy }}
                {% endif %}
            </copy-wrapper>
        {% endif %}
        {% if data.callToActionButton.url|length or data.secondaryCallToActionButton.url|length %}
            <div>
                {% if data.callToActionButton.url|length %}
                    <a href="{{ data.callToActionButton.url }}" target="{{ data.callToActionButton.target }}" class="button -solid -primary -raised m-0.5">{{ data.callToActionButton.customText }}</a>
                {% endif %}
                {% if data.secondaryCallToActionButton.url|length %}
                    <a href="{{ data.secondaryCallToActionButton.url }}" target="{{ data.secondaryCallToActionButton.target }}" class="button -solid -white -raised m-0.5">{{ data.secondaryCallToActionButton.customText }}</a>
                {% endif %}
            </div>
        {% endif %}
    </content-wrapper>
</call-to-action-banner>