{% set navLinks = craft.entries({
    section: 'headerNavigation',
    level: 1,
    with: [
        'descendants'
    ]
}).all() %}
{% cache %}
    <header eager-load-css="header">
        <div class="container">
            <a id="org-logo" href="{{ siteUrl }}">
                {% set orgLogo = organizationSettings.logo[0] ?? null %}
                {% if orgLogo %}
                    <img src="{{ orgLogo.url }}" alt="{{ organizationSettings.organizationName }}" />
                {% elseif organizationSettings.organizationName|length %}
                    {{ organizationSettings.organizationName }}
                {% else %}
                    <span eager-load-css="background-colors font-colors flexbox paddings font-sizes" flex="items-center" padding="x-0.5" class="font-danger-700 font-sm bg-danger-100" style="height: 36px;">{{ "Logo Missing"|t }}</span>
                {% endif %}
            </a>
            <nav>
                {% set count = 0 %}
                {% for link in navLinks %}
                    {% set count = count + 1 %}
                    {% if count <= 5 %}
                        {% if link.hasDescendants %}
                            <dropdown-link>
                                <button>
                                    {{ link.title }}
                                    <i>
                                        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="caret-down" class="svg-inline--fa fa-caret-down fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"></path></svg>
                                    </i>
                                </button>
                                <dropdown-list>
                                    {% for sublink in link.descendants %}
                                        <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                                    {% endfor %}
                                </dropdown-list>
                            </dropdown-link>
                        {% else %}
                            <a class="-primary-link" href="{{ link.url }}">{{ link.title }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <navigation-drawer-toggle role="button" web-component class="{{ navLinks|length > 5 ? 'is-visible' }}">
                    <input tabindex="-1" id="navigation-drawer-toggle" type="checkbox" />
                    <label aria-label="open navigaiton drawer" tabindex="0" for="navigation-drawer-toggle">
                        <svg style="width:24px;height:24px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path></svg>
                    </label>
                </navigation-drawer-toggle>
            </nav>
        </div>
    </header>
    <navigation-drawer loading="eager" web-component state="closed" eager-load-css="navigation-drawer">
        <button aria-label="close navigation drawer">
            <svg style="width:14px;height:14px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="times" class="svg-inline--fa fa-times fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z"></path></svg>
        </button>
        <nav>
            {% for link in navLinks %}
                <a href="{{ link.url }}">{{ link.title }}</a>
            {% endfor %}
        </nav>
    </navigation-drawer>
{% endcache %}